$nav-color: #ffc339;
$white-color: #FFFFFF;
$theme-color: #6e90f6;
$theme-color-darker: #1f2c4a;
$header-min-height: calc(100vh);
$footer-background: #1f2c4a;
$grey-400: #BDBDBD;
$light-blue-bg:#79b6fb;
$dark-bg:#162136;
$light-dark-bg:#274777;
$white-bg:#ffffff;
$default-color: #091020;