@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "variables";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
/* Mobile Navigation */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
html, body{
	overflow-x: hidden;
}
body {
	font-family:"Manrope", sans-serif;
	color: #2D2D2D;
}
@media (min-width:1200px){
    .container
    {
        max-width: 1200px;
    }
}
@media (min-width:1400px){
    .container
    {
        max-width: 1200px;
    }
}
@media (min-width:1500px){
    .container
    {
        max-width: 1400px;
    }
}
@media (min-width:1600px){
    .container
    {
        max-width: 1500px;
    }
}

a {
	color: #6E90F6;
	&:hover {
		color: #3b8af2;
		text-decoration: none;
	}
}
h1 {
	font-family: "Manrope", sans-serif;
}
h2 {
	font-family: "Manrope", sans-serif;
    font-size: 66px;
	font-weight: 700;
}
h3 {
	font-family: "Manrope", sans-serif;
	font-size: 60px;
	font-weight: 700;
}
h4 {
	font-family: "Manrope", sans-serif;
	font-size: 40px;
}
h5 {
	font-family: "Manrope", sans-serif;
}
h6 {
	font-family: "Manrope", sans-serif;
}

.mb-6, .my-6 {
    margin-bottom: 6rem!important;
}
.mt-6, .my-6 {
    margin-top: 6rem!important;
}
.pb-6, .py-6 {
    padding-bottom: 6rem!important;
}
.pt-6, .py-6 {
    padding-top: 6rem!important;
}
.mb-7, .my-7 {
    margin-bottom: 7rem!important;
}
.mt-7, .my-7 {
    margin-top: 7rem!important;
}
.pb-7, .py-7 {
    padding-bottom: 7rem!important;
}
.pt-7, .py-7 {
    padding-top: 7rem!important;
}
.mt-100px
{
	margin-top: 100px;
}
.py-100
{
	padding-top: 100px;
	padding-bottom: 100px;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	&:before {
		content: "";
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		border: 6px solid #6E90F6;
		border-top-color: #e2eefd;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		-webkit-animation: animate-preloader 1s linear infinite;
		animation: animate-preloader 1s linear infinite;
	}
}
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	i {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		width: 40px;
		height: 40px;
		border-radius: 4px;
		background: #6E90F6;
		color: #fff;
		transition: all 0.4s;
		&:hover {
			background: #3284f1;
			color: #fff;
		}
	}
}
#header {
	background: transparent;
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
	position: fixed;
	.header-get-started
	{
		border: 2px solid #ffc339;
		border-radius: 40px;
		padding: 10px 25px;
		font-weight: 600;
		transition: color 0.3s ease;
		&:hover
		{
			background-color: $nav-color;
			color: $default-color;
		}
	}
	a{
		color: #ffffff;
	}
	.logo {
		font-size: 32px;
		margin: 0;
		padding: 0;
		
		a {
			color: #222222;
			span {
				color: #6E90F6;
			}
		}
		img {
			width: 200px;
		}
	}
}
#header.header-scrolled {
	top: 0;
	position: fixed;
	padding: 10px 0;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    background-color: rgba(14, 29, 52, 0.9);
}
.nav-menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	>ul {
		display: flex;
		>li {
			position: relative;
			white-space: nowrap;
			padding: 10px 0 10px 28px;
			>a {
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					bottom: -5px;
					left: 0;
					background-color: #6E90F6;
					visibility: hidden;
					width: 0px;
					transition: all 0.3s ease-in-out 0s;
				}
			}
		}
	}
	a {
		display: block;
		position: relative;
		color: #222222;
		transition: 0.3s;
		font-size: 15px;
		font-weight: 400;
		padding: 0 3px;
		font-family: "Manrope", sans-serif;
		&:hover {
			&:before {
				visibility: visible;
				width: 100%;
			}
			color: #6E90F6;
		}
	}
	li {
		&:hover {
			>a {
				&:before {
					visibility: visible;
					width: 100%;
				}
				color: #6E90F6;
			}
		}
	}
	.active {
		>a {
			&:before {
				visibility: visible;
				width: 100%;
			}
			color: #6E90F6;
		}
	}
	.drop-down {
		ul {
			display: block;
			position: absolute;
			left: 26px;
			top: calc(100% + 30px);
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			padding: 10px 0;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			transition: 0.3s;
			a {
				padding: 10px 20px;
				font-size: 14px;
				font-weight: 500;
				text-transform: none;
				color: #062b5b;
				&:hover {
					color: #6E90F6;
				}
			}
			.active {
				>a {
					color: #6E90F6;
				}
			}
			li {
				&:hover {
					>a {
						color: #6E90F6;
					}
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
		li {
			min-width: 180px;
			position: relative;
		}
		>a {
			&:after {
				content: "\ea99";
				font-family: IcoFont;
				padding-left: 5px;
			}
		}
		.drop-down {
			ul {
				top: 0;
				left: calc(100% - 30px);
			}
			&:hover {
				>ul {
					opacity: 1;
					top: 0;
					left: 100%;
				}
			}
			>a {
				padding-right: 35px;
				&:after {
					content: "\eaa0";
					font-family: IcoFont;
					position: absolute;
					right: 15px;
				}
			}
		}
	}
}
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 30px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
	i {
		color: #ffffff;
	}
}
.mobile-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transform: translate(-100%);
	transition: all 0.5s ease;
	opacity: 0;
	visibility: hidden;
	border-radius: 0px;
	padding: 10px 0;
	width: 320px;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-left: 10px;
		padding-right: 10px;
	}
	a {
		display: block;
		position: relative;
		color: #222222;
		padding: 15px 20px 15px 0px;
		font-weight: 500;
		outline: none;
		border-bottom: 1px solid #f1f1f1;
		&:hover {
			color: #6E90F6;
			text-decoration: none;
		}
	}
	.active {
		>a {
			color: #6E90F6;
			text-decoration: none;
		}
	}
	li {
		&:hover {
			>a {
				color: #6E90F6;
				text-decoration: none;
			}
		}
		
	}
	.drop-down {
		>a {
			&:after {
				content: "\ea99";
				font-family: IcoFont;
				padding-left: 10px;
				position: absolute;
				right: 15px;
			}
			padding-right: 35px;
		}
		ul {
			display: none;
			overflow: hidden;
		}
		li {
			padding-left: 20px;
		}
	}
	.active.drop-down {
		>a {
			&:after {
				content: "\eaa1";
			}
		}
	}
}
.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(9, 9, 9, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}
.mobile-nav-active {
	overflow: hidden;
	.mobile-nav {
		opacity: 1;
		visibility: visible;
		transform: translate(0%);
	}
	.mobile-nav-toggle {
		i {
			color: #fff;
		}
	}
}
#hero {
	width: 100%;
	min-height: 90vh;
	background-size: cover;
	position: relative;
	.hero-bg
	{
		position: absolute;
		inset: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		object-position: bottom;
	}
	
	.container {
		position: relative;
	}
	h1 {
		margin: 0;
		font-size: 76px;
		font-weight: 700;
		line-height: 90px;
		color: #ffffff;
		font-family: "Manrope", sans-serif;
		span {
			color: #FFC339;
		}
	}
	h2 {
		color: #ffffff;
		margin: 40px 0 50px 0;
		font-size: 20px;
		font-weight: 400;
        line-height: 1.6;
	}
		
}
.btn-theme-gradient {
    background:#6e90f6;
    background: linear-gradient(103deg, #6e90f6, #4b76de 100%);
    color: #fff;
    font-weight: 600;
	display: inline-flex;
    align-items: center;
	&:hover
	{
		background: linear-gradient(103deg, #ffce5f, #ffc339 100%);
    	color: #091020;
		i{
			-webkit-transform: translateX(4px);
			-moz-transform: translateX(4px);
			-ms-transform: translateX(4px);
			-o-transform: translateX(4px);
			transform: translateX(4px);
		}
	}
	i{
		display: inline-block;
		padding-left: 0px;
		-webkit-transition: transform 0.3s ease-out;
		-moz-transition: transform 0.3s ease-out;
		-ms-transition: transform 0.3s ease-out;
		-o-transition: transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
		
	}
}

.welcome-image-group-wrapper
    {
        position: absolute;
        top: 55%;
        right: 15%;
        transform: translateY(-50%);
        width: 50%;
        margin: 0 auto;
    }
.welcome-image--group-01 {
        position: relative;
        width: 100%;
        margin: 0 auto;
        z-index: 1;
        img
        {
            width: 110%;
        }
    }
.welcome-image--group-01__img-1 
{
    position: absolute;
    left: -20%;
    top: 50%;
    width: 72%;
    transform: translateY(-50%);
}
.welcome-image--group-01__img-2 {
    position: absolute;
    left: 45%;
    top: -30%;
    width: 33%;
    z-index: -1;
}
.welcome-image--group-01__img-3 {
    position: absolute;
    right: 12%;
    bottom: -11%;
    width: 28%;
    transform: translateX(-50%);
    z-index: 1;
}
.welcome-image--group-01__img-4 {
    position: absolute;
    width: 23%;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
	left: -20%;
}
.welcome-image--group-01__img-5 {
    position: absolute;
    left: 31%;
    top: -50%;
    transform: translateX(-50%);
    width: 24%;
}

@media (min-width: 992px){
        .welcome-image--group-01 {
            margin-left: auto;
            width: 80%;
        }
}
@media (min-width: 1200px){
    .welcome-image--group-01 {
        margin-left: auto;
        width: 90%;
    }
}
@media (min-width: 1600px){
    .welcome-image--group-01 {
        width: 670px;
        -o-object-fit: contain;
        object-fit: contain;
    }
}
@media(max-width: 991px){
    .welcome-image-group-wrapper
    {
        position: relative;
        width: 72%;
        margin: 0 auto;
        padding-top: 50px;
		right: auto;
    }
}
@media (min-width:992px) and (max-width: 1599px){
    .welcome-image-group-wrapper
    {
        width: 90%;
		right: 0%;
    }
}


/* ============
all section css 
===============*/
section {
	padding: 120px 0;
	overflow: hidden;
}


/*=====================
video section css 
======================*/
.video-section
{
    background-image:
    linear-gradient(to bottom, rgba(12, 12, 12, 0.52), rgba(37, 37, 37, 0.63)),
    url('../img/home/video-bg.png');
    position: relative;
    min-height: 35rem;
    
    h2{
        color: #fff;
        margin-bottom: 1rem;
    }
    .btn-watch-video
    {
        width: 94px;
		height: 94px;
		background: radial-gradient(#6e90f6 50%, rgba(110, 144, 246, 0.26) 52%);
		border-radius: 50%;
		display: block;
		position: relative;
		overflow: hidden;
        margin: 30px auto;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-40%) translateY(-50%);
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 15px solid #fff;
			z-index: 100;
			transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		&::before {
			content: '';
			position: absolute;
			width: 120px;
			height: 120px;
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
			-webkit-animation: pulsate-btn 2s;
			animation: pulsate-btn 2s;
			-webkit-animation-direction: forwards;
			animation-direction: forwards;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: steps;
			animation-timing-function: steps;
			opacity: 1;
			border-radius: 50%;
			border: 5px solid #6e90f6;
			top: -15%;
			left: -15%;
			background: rgba(198, 16, 0, 0);
		}
		&:hover {
			&::after {
				border-left: 15px solid #6e90f6;
				transform: scale(20);
			}
			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-40%) translateY(-50%);
				width: 0;
				height: 0;
				border: none;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 15px solid #fff;
				z-index: 200;
				-webkit-animation: none;
				animation: none;
				border-radius: 0;
			}
		}
    }
}
@-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }


  .payment-artleft
  {
	position: absolute;
    bottom: 40px;
    left: -90px;
  }
  .payment-artright
  {
	position: absolute;
    bottom: 40px;
    right: -90px;
  }
  .dark-bg{
	  background: $dark-bg;
	  color: $white-color;
  }



/*=====================
earth animate css
=====================*/
#bgearth {
	position: absolute;
	top: 0vw;
	width: 50vw;
	right: -10rem;
	pointer-events: none;
	z-index: 0;
	opacity: 0.2;
}
.earth-js {
	transition: opacity 1.5s ease;
	opacity: 0;
}
.earth-js.earth-ready {
	opacity: 1;
}
.half-earth {
	position: relative;
	overflow: hidden;
	&::before {
		content: "";
		display: block;
		padding-top: 50%;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		height: 1px;
		left: 0;
		right: 0;
		z-index: 15;
		
	}
	>div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}
@media (max-width: 999px) {
	#bgearth {
		width: 70vw;
	}
}
@media (max-width: 719px) {
	#bgearth {
		width: 75vw;
	}
}
@media (max-width: 511px) {
	#bgearth {
		width: 80vw;
	}
	header {
		padding: 9em 0;
	}
}
@media (max-width: 399px) {
	#bgearth {
		width: 100vw;
	}
	header {
		padding: 8em 0;
	}
}


/*==============
404 error page css
================*/
.error-404
{
	text-align: center;
	position: relative;
	min-height: 100vh;
	
}
.error-msg{
	position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2rem;
}

lottie-player{
	max-width: 580px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.error {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0vw;
	color: rgba(0,0,0,.02);
	font-size: 10vw;
	text-align: center;
	font-weight: 900;
	font-family: sans-serif;
	pointer-events: none;
  }
/*===========
security section css 
=============*/
.security-section
{
	position: relative;
	padding: 150px 0;
}
.security-text
{
	font-size: 1.5rem;
}
.theme-color
{
	color: $theme-color;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
	background: url(../img/secure3.svg);
	background-size: contain;
    background-repeat: no-repeat;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
	background: url(../img/secure2.svg);
	background-size: cover;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
	background: url(../img/secure3.svg);
	background-size: cover;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
	background: url(../img/secure2.svg);
	background-size: cover;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
	background: url(../img/secure1.svg);
	background-size: cover;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
	background: url(../img/secure1.svg);
	background-size: cover;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
	background: url(../img/secure1.svg);
	background-size: cover;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
	background: url(../img/secure1.svg);
	background-size: cover;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
	background: url(../img/secure3.svg);
}

.circles li:nth-child(10){
    left: 85%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
	background: url(../img/secure3.svg);
	background-size: contain;
    background-repeat: no-repeat;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(520deg);
        opacity: 0;
        border-radius: 50%;
    }

}



/*===========
journey section css 
=============*/
.journey-section
{
	background: url("../img/journey-bg.svg");
	min-height: 600px;
	background-size: cover;
    background-position: bottom;
}


/*===========
News section css 
=============*/
.news-dot
{
	width: 16px;
    height: 16px;
    background: #6e90f6;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
}
.news-block
{
	color: #2D2D2D;
	h4{
		padding-left: 25px;
		border-left: 3px solid $theme-color;
	}
	&:hover
	{
		color: #2D2D2D;
	}
	p{
		padding-left: 26px;
		font-weight: lighter;
	}
}


/*===================================
About page css start from here
====================================*/
.btn-theme
{
	background-color: $theme-color !important;
	color: $white-color !important;
}
.about-ban
{
	min-height: 500px;
}
.inner-hero
{
	height: 90vh !important;
}
.touch-block
{
	background: #E5F3FF;
	padding: 50px 50px 0;
}



/*===========================
contact page css 
============================*/
.light-gray-bg
{
	background: #f3f6f9;
	overflow: inherit;
}
.overlap-inner
{
	position: absolute;
	min-height: 1px;
    background-repeat: no-repeat;
    z-index: 11;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    width: 100%;
    width: calc(100% - 48px);
    top: -192px;
    height: calc(100% + (4 * 96px));
    width: calc((100vw - 1248px) / 2 + 100% - 24px);
    left: 24px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.contact-form-section {
	.php-email-form {
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
		padding: 30px;
		.validate {
			display: none;
			color: red;
			margin: 0 0 15px 0;
			font-weight: 400;
			font-size: 13px;
		}
		.error-message {
			display: none;
			color: #fff;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br {
				+ {
					br {
						margin-top: 25px;
					}
				}
			}
		}
		.sent-message {
			display: none;
			color: #fff;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: #eee;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 20px 15px;
			&:focus {
				border-color: #106eea;
			}
		}
		textarea {
			padding: 12px 15px;
		}
		button[type="submit"] {
			background: #106eea;
			border: 0;
			padding: 10px 30px;
			color: #fff;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: #3b8af2;
			}
		}
	}
}
.contact {
	.php-email-form {
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			&:focus {
				border-color: #106eea;
			}
		}
	}
}







/* =============================
solutions page css 
===============================*/

.solution-bg
{
	background: url("../img/solutions/solutions-bg.svg");
	margin-top: 150px;
	margin-bottom: 50px;
	height: 450px !important;
	background-size: contain !important;
	background-attachment: revert !important;
    overflow: initial;
	&::before
	{
		background: transparent !important;
	}
	h4{
		color: #ffffff !important;
	}
	.solution-hero
	{
		position: absolute;
		min-height: 1px;
		background-repeat: no-repeat;
		z-index: 11;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		overflow: hidden;
		width: 100%;
		width: calc(100% - 48px);
		top: -192px;
		height: calc(100% + (4 * 96px));
		left: 24px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.deal-section
{
	background: #F3F6F9;
    margin-top: -200px;
    padding-top: 300px !important;
	padding-bottom: 150px !important;
}
.solution-mobile
{
	position: absolute;
    top: -250px;
    z-index: 999;
    transform: translateY(-6%);
}
.overflow-initial
{
	overflow: initial;
}



/*======================
pricing-page css
=======================*/
.pricing-bg
{
	background: url(../img/pricing/pricing-bg.svg);
    margin-top: 200px;
    margin-bottom: 50px;
    height: 450px !important;
    background-size: cover !important;
    background-attachment: revert !important;
    overflow: initial;
}
.pricing-box
	{
		position: absolute;
		min-height: 1px;
		background-repeat: no-repeat;
		z-index: 11;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 30px 50px;
		overflow: hidden;
		width: 100%;
		width: calc(100% - 48px);
		top: -260px;
    	height: calc(100% + (5 * 108px));
		left: 24px;
		background: #FFFFFF;
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
		text-align: center;
		border-radius: 10px;
		h4
		{
			color: #6E90F6;
			font-size: 2rem;
		}
		p{
			font-size: 1.5rem;
			font-weight: 100;
		}
		.price{
			
			span{
				font-size: 3rem;
				font-weight: 600;
				padding: 25px;
			}
		}
		.price-get-started
		{
			position: absolute;
			background: #e6eaf7;
			padding: 16px;
			width: 100%;
			left: 0;
			bottom: 0;
			font-size: 1.5rem;
			transition: 0.5s;
			&:hover
			{
				background: #6E90F6;
				color: #fff;
			}
		}
	}

	.pricing-step-section
	{
		border-bottom: 1px solid #ececec;
		.pricing-nav
		{
			li.nav-item{
				a{
					color: #606060;
					&:hover{
						color: #6E90F6;
						border-bottom: 3px solid #6E90F6;
					}
				}
				a.active{
					color: #6E90F6;
					border-bottom: 3px solid #6E90F6;
				}
			}
		}
	}



/*=====================
blog page css
=====================*/
.blog-bg
{
	background: url(../img/pricing/pricing-bg.svg);
    margin-top: 150px;
    margin-bottom: 50px;
    height: 450px !important;
    background-size: cover !important;
    background-attachment: revert !important;
    overflow: initial;
}
.blog-box{
	position: absolute;
		min-height: 1px;
		background-repeat: no-repeat;
		z-index: 11;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 30px 50px;
		overflow: hidden;
		width: 100%;
		width: calc(100% - 48px);
		top: -192px;
		height: calc(100% + (4 * 96px));
		left: 24px;
		background: #FFFFFF;
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
		border-radius: 10px;
		h1{
			font-size: 3.5rem;
		}
}
.story-text__small
{
	font-size: 14px;
    color: #8491ab;
    font-weight: 300;
}
.text-theme
{
	color: #6E90F6;
}
.blog-card
{
	border: none;
	.card-body
	{
		padding: 0;
		img{
			margin-bottom: 20px;
		}
		h4{
			font-size: 2rem;
			margin-bottom: 20px;
			a{
				color: #202020;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}


/*====================
cookie css
=====================*/
.decline {
    cursor: pointer
}
.toast
{
	border-bottom: 1px solid #ddd;
	.btn-dark{
		border-radius: 4px;
	}
}
/*=====================
footer section css start
=======================*/
.footer {
	color: #fff;
	background-color: $footer-background;
	font-size: 14px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background: url(../img/footer-bg-overlay.png);
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.footer-top {
		padding-top: 50px;
		border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
		position: relative;
		z-index: 9;
	}
	.footer-about {
		.logo {
			line-height: 1;
			margin-bottom: 25px;
			img {
				max-height: 60px;
				margin-right: 6px;
			}
			span {
				color: var(--heading-color);
				font-size: 30px;
				font-weight: 700;
				letter-spacing: 1px;
				font-family: var(--heading-font);
			}
		}
		p {
			font-size: 14px;
			font-family: var(--heading-font);
		}
	}
	.social-links {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid #FFC339;
			background-color: #FFC339;
			font-size: 16px;
			color: $theme-color-darker;
			margin-right: 10px;
			transition: 0.3s;
			&:hover {
				color: $theme-color-darker;
				border-color:$theme-color-darker;
			}
		}
	}
	h4 {
		font-size: 16px;
		font-weight: bold;
		position: relative;
		padding-bottom: 12px;
		color: #fff;
	}
	.footer-links {
		margin-bottom: 30px;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			i {
				padding-right: 2px;
				font-size: 12px;
				line-height: 0;
			}
			li {
				padding: 10px 0;
				display: flex;
				align-items: center;
				&:first-child {
					padding-top: 0;
				}
			}
			a {
				color: color-mix(in srgb, var(--default-color), transparent 40%);
				display: inline-block;
				line-height: 1;
				color: #BCC5DF;
				&:hover {
					color: var(--accent-color);
				}
			}
		}
	}
	.footer-contact {
		p {
			margin-bottom: 5px;
		}
	}
	.copyright {
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid color-mix(in srgb, var(--heading-color), transparent 90%);
		position: relative;
		z-index: 9;
		p {
			margin-bottom: 0;
		}
	}
	.footer-compliant {
		display: flex;
		margin-top: 30px;
		gap: 10px;
		span {
			width: 130px;
			padding: 8px;
			border: 1px solid #ddd;
			height: 60px;
			border-radius: 10px;
			display: inline-block;
			img {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media screen and (max-width: 767px) {
	.touch-block
	{
		padding: 50px 50px 50px;
	}
	h2
	{
		font-size: 40px;
	}
	h3{
		font-size: 32px;
	}
	.payment-artleft {
		bottom: 5px;
		left: -14px;
	}
	.payment-artright {
		bottom: 5px;
		right: -12px;
	}
	
}
@media (max-width: 992px) {
	#header {
		padding: 15px;
		top: 0;
		.logo {
			font-size: 28px;
		}
	}
	#hero {
		.container {
			padding-top: 0px;
		}
	}
	.about-ban {
		min-height: auto;
	}
	section
	{
		padding: 50px 0 !important;
	}
	.solution-bg{
		background-size: cover !important;
		margin-top: 80px;
		.solution-hero
		{
			display: none;
		}
		h4{
			font-size: 24px;
			i{
				display: none;
			}
		}
	}
	.solution-mobile {
		position: relative;
		top: auto;
		z-index: 999;
		transform: none;
	}
	.pt-7, .py-7 {
		padding-top: 3rem !important;
	}
	.pb-7, .py-7 {
		padding-bottom: 3rem !important;
	}
	.deal-section
	{
		margin-top: -20px;
	}
	.inner-hero
	{
		height: 100vh !important;
	}
	.blog-box
	{
		height: auto;
		h1{
			font-size: 2rem;
		}
	}
	.blog-bg
	{
		margin-top: 80px;
	}
	.pricing-bg
	{
		height: auto !important;

	}
	.pricing-box
	{
		height: auto;
		position: relative;
		top: 0;
		padding: 15px;
		min-height: 500px;
		width: 100%;
		left: 0;
		p{
			font-size: 1.2rem;
		}
		.price{
			span{
				padding: 10px;
				font-size: 1.5rem;
			}
		}
	}
	.journey-section
	{
		min-height: 400px;
	}
	.overlap-inner
	{
		position: relative;
		height: auto;
		width: auto;
		top: 0;
		left: 0;
	}
}
@media (max-width: 1366px) {
	.nav-menu {
		.drop-down {
			.drop-down {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
				>a {
					&:after {
						content: "\ea9d";
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
	.section-title {
		p {
			width: 50%;
		}
	}
}
@media (max-width: 991px) {
	#hero {
		height: auto;
		h1 {
			font-size: 28px;
			line-height: 36px;
            margin-top: 80px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 30px;
		}
		
		
	}
	#footer {
		.copyright {
			float: none;
			text-align: center;
			padding: 2px 0;
		}
		.credits {
			float: none;
			text-align: center;
			padding: 2px 0;
		}
	}
}
@media (min-width:992px) and (max-width:1399px){
    #hero{
        h1{
            font-size: 48px;
            line-height: 60px;
        }
    }
	.welcome-image-group-wrapper
	{
		right: 0%;
	}
}
@media (min-width:992px) and (max-width: 1199px){
    h3
	{
		font-size: 40px;
	}
	h4{
		font-size: 32px;
	}
	.solution-mobile
	{
		top: -200px;
	}
	.deal-section
	{
		margin-top: -300px;
	}
}

